{{ define "title" -}}
{{ .Title | title }}
{{- end }}

{{ define "snippets" -}}
<div id="snippets">
    {{ partial "snippets/license" .}}
</div>
{{- end }}

{{ define "main" -}}
{{ .Content }}
<br>
<h1>Blogs and Stuff</h1>
{{ partial "sections" . }}
<br>
<h1>New Articles</h1>
{{ partial "newarticles" . }}
<br>
{{ if .Param "taglist" }}
    <h1>Taglist</h1>
    {{ partial "taglist" . }}
{{ end -}}
{{- end }}
