<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
-->
<figure class="{{ .Params.class }}">
	<a href="{{ .Params.href }}">
	<img src="{{ .Params.src }}"
	    title="{{ .Params.mouse }}"
	    alt="{{ .Params.alt }}"
	>
	</a>
	<figcaption>
	{{ .Params.caption }}
	</figcaption>
</figure>
