{{ $author := index .Site.Data.authors ( .Params.author | default "default" )  }}
<footer>
<br><br><br>
<ul>
<li><a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a></li>
{{- if $author -}}
{{- if $author.name -}}
<li><b>{{ $author.name }}</b></li>
{{- end -}}
{{- if $author.website -}}
<li><img class="logo-small" alt="Website Logo" src="/images/assets/web.svg">Website: <a href="{{ $author.website }}">{{ $author.website }}</a></li>
{{- end -}}
{{- if $author.xmr }}
<li><img class="logo-small" alt="XMR Logo" src="/images/assets/xmr.svg">Monero: <code>{{ $author.xmr }}</code></li>
{{- end -}}
{{- if $author.btc }}
<li><img class="logo-small" alt="BTC Logo" src="/images/assets/btc.svg">Bitcoin: <code>{{ $author.xmr }}</code></li>
{{- end -}}
{{- if $author.eth }}
<li><img class="logo-small" alt="ETH Logo" src="/images/assets/eth.svg">Ether: <code>{{ $author.xmr }}</code></li>
{{- end -}}
{{- if $author.donate }}
<li><a href="{{ $author.donate }}">Donate/Tip</a></li>
{{- end -}}
{{- end -}}
{{ partial "rssicon" . }}
</ul>
</footer>