<ul id="new-articles">
{{ range first 3 .Site.RegularPages }}
<li>    
    <p><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> | {{ .Page.ReadingTime }} minute read <span style="float: right;">by {{ index .Site.Data.authors ( .Page.Params.author | default "default" ) "name" }}</span></p>
    <hr>
    <p>{{ .Page.Summary }}</p>
</li>
{{ end }}
</ul>