{{- if .Param "showrss" }}<li><a href="/index.xml"><img src="/images/assets/rss.svg" style="max-height:1.5em; border-radius: 4rem;" alt="RSS Feed" title="Subscribe via RSS for updates."></a></li>{{ end }}