:root {
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	font-size: 1.6rem;
	max-width: 100%;

	background: #282828;
	color: #fbf1c7;
}

a {
	color: #fe8019;
}

main {
	max-width: 80rem;
	margin: auto;
}

header h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 1rem 0;
}

/* For footer */

footer {
	text-align: center;
	clear: both;
	line-height: 3rem;
}

.logo-small {
	max-width: 1.4rem;
	vertical-align: middle;
	padding: 0.4rem;
}

code {
	color: #98971a;
	font-size: smaller;
	overflow-wrap: break-word;
}

/* For NEWARTICLES.HTML */
#new-articles li:first-child,
#new-articles li:last-child {
	margin: 0 auto;
}

#new-articles li {
	margin: 10rem auto;
}

/* For SECTIONS.HTML */
#sections {
	display: inline-block;
}

#sections li {
	display: inline-block;
	padding: 0 2rem;
}

#sections img {
	max-width: 16rem;
	max-height: 16rem;
	max-width: 100% ;
	border-radius: 2rem;
	filter: saturate(110%);
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center;
	clear: both;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left;
	text-align: left;
}
#nextart {
	float: right;
	text-align: right;
}
#nextart,#prevart {
	max-width: 33%;
	background-color: #3c3836;
	border-radius: 2rem;
	padding: 1rem;
	color: #ebdbb2;
}
#nextart:hover,#prevart:hover {
	background-color: #504945;
}
